<?xml version="1.0" encoding="UTF-8"?>
<metadata>
    <name>DialogflowInfobot</name>
    <type>plugin</type>
    <creationDate>2026-09-11</creationDate>
    <author>Google CCAI Integration</author>
    <version>1.0.0</version>
    <description>Conversational Co-Pilot for LimeSurvey 6 using Dialogflow Infobot 2</description>
    <compatibility>
        <version>6.0.0</version>
    </compatibility>
</metadata>
